@font-face {
  font-family: "boggle-bold";
  src: url(../fonts/BOGLEBOLD.OTF);
}
@font-face {
  font-family: "boggle-regular";
  src: url(../fonts/BOGLEREGULAR.OTF);
}

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
.page {
  background-color: #fff !important;
}
.navbar2-bg:after {
  background-color: #fff !important;
}
.navbar-home{
  overflow: visible !important;
    margin-left: 19px !important;
}
/* Custom color theme properties */
:root {
  --f7-font-family: "boggle-bold", "boggle-regular";
  --f7-theme-color: #007aff;
  --f7-theme-color-rgb: 0, 122, 255;
  --f7-theme-color-shade: #0066d6;
  --f7-theme-color-tint: #298fff;
  --f7-input-outline-border-radius: 25px;
  /* --f7-navbar-title-line-height: 1.5px; */
  --f7-navbar-bg-color: #fff;
  --f7-searchbar-input-text-color: rgba(0, 0, 0, 0.35);
  --f7-searchbar-placeholder-color: rgba(0, 0, 0, 0.35);
}
.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.demo-card-header-pic .card-content-padding .date {
  color: #8e8e93;
}
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}

.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 0px solid #ddd;
  background: #fff;
}

.one-swiper {
  font-style: normal;
  font-family: "boggle";
  margin: 0px 0 35px;
  font-size: 18px;
 
}

.demo-swiper {
  font-style: normal;
  font-family: "boggle";
  margin: 0px 0 35px;
  font-size: 18px;
  height: 180px;
}
.img-prom {
  width: 289px;
}
.promo1 {
  width: 380px;
  height: 180px;
}

.location {
  position: relative;
  top: 10px;
}
.navbar2 {
  height: 99px;
  margin-top: -15px !important;
  justify-content: flex-start;
  display: list-item;
}
.navbar2 .title {
  overflow: visible;
  top: -20px;
}
.block1 {
  padding-top: 52px !important;
  padding-left: 14px !important;
  background: #fff;
}
.location-p {
  font-size: 13px;
  color: #828282 !important;
  position: relative;
  left: 49px;
  font-family: "boggle-regular";
  margin: 0;
  padding-top: 2px;
}
.acount {
  position: absolute;
  top: 32px;
  right: 31px;
}
.page-content2 {
  padding-top: 182px !important;
  text-align: -webkit-center;
}
.adress {
  font-family: "boggle-regular";
  position: absolute;
  color: rgba(0, 114, 210, 1);
  font-size: 12px;
  background: #e5f8ff;
  height: 34px !important;
  width: 220px;
  text-align: center;
  left: 64px;
  top: 89px;
}
.list .item-input-wrap {
  height: 42px;
}
.search {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8px;
  right: 15px;
  width: 28px;
}
.item-input-outline .item-floating-label {
  margin-top: 10px !important;
  top: 12px;
}
.list ul:before {
  content: "";
  position: absolute;
  background-color: transparent !important;
}
.navbar2-bg:before {
  background: transparent !important;
}
.input-search {
  position: relative;
  top: 5px;
  left: 20px;
  color: rgba(130, 130, 130, 1) !important;
}
.input-search::placeholder {
  font-size: 18px !important;
}
.list .item-inner {
  padding-top: 22px;
}
.list ul:after {
  background-color: transparent !important;
}
.input-outline:after,
.item-input-outline .item-input-wrap:after {
  border: 1px solid #c4c4c4 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.card-comprados {
  width: 350px;
  height: 236px;
  background: url(../assets/background.png);
  margin-right: 0;
  margin-left: 0;
}
.card-comprados-header {
  display: flex;
}
.card-comprados-header-p {
  font-family: "boggle-regular";
  font-size: 28px;
  color: #fff;
  margin-left: 35px;
}
.card-comprados-header-img {
  width: 26px;
  height: 33px;
  position: relative;
  top: 20px;
}
.card-comprados-header2 {
  display: flex;
  position: absolute;
  top: 36px;
  align-items: center;
}
.card-comprados-header2-p {
  font-family: "boggle-bold";
  color: #fff;
  font-size: 28px;
  margin-left: 35px;
}
.card-comprados-header2-p2 {
  font-family: "boggle-regular";
  color: #fff;
  font-size: 18px;
  margin-left: 12px;
}
.btn-menu {
  border-radius: 10px;
  margin-left: 3px;
  /* margin-right: 5px; */
  font-size: 8px;
  padding: 2px;
  justify-content: center;
}
.h5 {
  margin-right: 15px !important;
}

.productos {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.textos {
  font-family: "boggle-regular";
  width: 100%;
  text-align: initial;
}
.precio {
  font-family: "boggle-regular";
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 1px;
}

.titulo {
  font-family: "boggle-regular";
  font-weight: normal;
  font: menu;
  font-size: 12px;
  max-width: 103px;
  height: 30px;
  /* white-space: pre-wrap; */
  padding: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}
.titulo2 {
  font-family: "boggle-regular"!important;
  font-weight: normal !important;
  font: menu;
  font-size: 12px i !important;
  max-width: 219px !important;
  height: 30px !important;
  /* white-space: pre-wrap; */
  padding: 1px;
  margin-right: 1px !important;
  margin-bottom: 1px !important;
  margin-top: -43px  !important;
  text-align: center;
  margin-left: 75px;
}
.unidad {
  font-family: "boggle-regular";
  font-weight: normal;
  font: menu;
  font-size: 10px;
  color: gray;
  margin-top: 1px;
  margin-bottom: 1px;
}
.boton-agregar {
  font-family: "boggle-regular";
  font-size: 10px;
  height: 27px;
  width: 80px;
  border-radius: 30px;
  align-items: center;
  margin-top: 10px;
}
.star {
  align-self: flex-start;
}

.color-yellow {
  color: #0879c9;
}

.top-productos {
  margin-top: -6px !important;
}
/* Your app custom styles here */
.card-comprados-body {
  display: flex;
  position: absolute;
  top: 118px;
  font-family: "boggle-regular";
  color: #fff;
  font-size: 13px;
}
.card-comprados-body-p{
  text-align: left;
  margin-left: -11px;
  top: -20px;
  position: relative;
  right: 10px;
}
.a-comprados {
  font-family: "boggle-bold";
    font-size: 12px;
    color: black;
    width: 120px;
    height: 27px;
    border-radius: 12px;
    top: 194px;
    align-items: end;
    left: 210px;
    position: absolute;
}
.card-info {
  width: 350px;
  height: 140px;
  background: url(../assets/background.png);
  margin-right: 0;
  margin-left: 0;
}
.card-info-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}
.card-info-img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 23px;
}
.card-info-p {
  font-family: "boggle-bold";
  font-size: 20px;
  color: #fff;
  position: relative;
  left: 35px;
}
.card-info-p2 {
  font-family: "boggle-regular";
  text-align: left;
  position: relative;
  color: #fff;
  margin: 25px;
  font-size: 14px;
  top: 64px;
}
.card-despacho {
  width: 350px;
    height: 140px;
    background-color: rgba(245, 194, 66, 1);
    border-radius: 12px !important;
    margin-left: 0;
    margin-right: 0;
}
.card-despacho-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.card-despacho-header-p {
  font-size: 28px;
  font-family: "boggle-bold";
  color: #000;
  left: 61px;
  position: absolute;
  top: -12px;
}
.card-despacho-header-p2 {
  font-size: 28px;
  font-family: "boggle-bold";
  color: #fff;
  background-color: rgba(174, 62, 41, 1);
  width: 127px;
  position: absolute;
  top: 20px;
  left: 70px;
  border-radius: 8px;
}
.card-despacho-body-img {
  position: absolute;
  right: 31px;
  width: 98px;
}
.card-despacho-footer {
  color: #000;
  font-family: "boggle-regular";
  font-size: 14px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 72px;
}
.card-despacho-footer-p {
  background: rgba(242, 242, 242, 1);
  padding-left: 6px;
  padding-right: 6px;
}
.div-carrito {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}
.p-carrito {
  font-size: 23px;
  font-family: "boggle-bold";
  color: #000;
}
.p-carrito-mas {
  color: rgba(0, 114, 210, 1);
  font-size: 20px;
}
.product-car {
  background: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 20px;
}
.img-carrito {
  top: 10px;
  position: relative;
}
.ios-translucent-bars .navbar-bg {
  background-color: #fff !important;
}
.navbar2 .left {
  position: absolute;
  top: 8px;
}
.title-header {
  margin-left: 44px;
}
.acount2 {
  position: absolute;
  top: 12px;
  right: 13px;
}
.block2 {
  padding-top: 2px !important;
  padding-left: 14px !important;
}
.banner {
  width: 95%;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 10px;
}
.card-listas{
      width: 93%;
    /* height: 0px; */
    justify-content: center;
    padding: -12px;
    margin-bottom: auto;
    display: block;
}

/* Your app custom styles here */
 .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      width: 70%;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.container-productos{
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;

}
.img-listas-lider{
  margin-top: 15px;
}
 /* .swiper-slide:nth-child(2n) {
      width: 90%;
    }

    .swiper-slide:nth-child(3n) {
      width: 90%;
    } */